body {
  padding: 50px 0px 0px 0px;
  z-index: 0; 
}
.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }
#loginBtn{
  cursor: pointer;
}
.modal-content{
  border-radius: 20px;
}  
.facebook{
  background: #3b5998;
  color: white;
}
form{
  margin: 50px 0px;
}
@media (max-width: 767px){
  .card{
    margin: 20px auto;
  }
}
